.search {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.input_search {
  width: 40%;
  margin-bottom: 30px;
  background-color: var(--white);
}
.formControl {
  background-color: var(--white);
}

.TextField {
  width: 100%;
  color: var(--white);
}

select {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 18px 15px;
  background-color: var(--white);
  box-shadow: 0px 0px 5px rgb(0 0 0 / 23%);
  border-radius: 0.3rem;
}
.formControl {
  width: 100%;
}

@media (max-width: 767.99px) {
  .input_search {
    width: 100%;
  }
  .TextField {
    width: 100%;
  }
}
